.likes {
	&__number {
		color: $secondary-text-color;
		margin: 0 10px;
		font-weight: 500;
		font-size: 14px;
		@include responsive(laptop) {
			font-size: 24px;
		}
	}
	&__icon {
		height: 14px;
		@include responsive(laptop) {
			height: 24px;
		}
	}
}

.totalLikes__icon {
	filter: brightness(0%);
	justify-self: start;
	margin-right: auto;
	margin-left: 10px;
}