.wrapper {
	font-family: "DM Sans", Arial, Helvetica, sans-serif;
	font-weight: 400;
	background-color: white;
	max-width: 1440px;
	margin: auto;
	margin-top: clamp(40px, 10%, 50px);
	margin-bottom: clamp(40px, 10%, 50px);
	padding: 0 5%;
	position: relative;
}
